body{
  
  background-position: center;
  background-size: cover;
}


.box {
  width: 250px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #ffcc66;
  text-align: center;
  border-radius: 24px;

}
.box h1{
  text-transform: uppercase;
  font-weight: 500;

}
.box input[type="text"]{
  /*padding: 20px;*/
  width: 200px;
  text-align: center;
  height: 30px;
  margin: 20px auto;
  border: 2px solid;
  border-color: #ff8000;
  border-radius: 24px;
  background: #ffbf80;
  outline: none;
  display: block;

}
.box button[name="searchbutton"]{
  width: 150px;
  text-align: center;
  height: 30px;
  margin: auto;
  border: 2px solid;
  border-color: #ff8000;
  border-radius: 24px;
  background: #ffbf80;
  outline: none;
  display: block;
}
.leftside button[name="users"] {
  width: 150px;
  background: transparent;
  outline: none;
  border: 2px solid;
  border-color: #80aaff;
  border-radius: 24px;
  color: #4d88ff;

}
.leftside button[name="users"]:hover {
  background-color: #80aaff;
}
button[name="bbs"] {
  position: absolute;
  left: 45%;
  width: 150px;
  background: transparent;
  outline: none;
  border: 2px solid;
  border-color: #80aaff;
  border-radius: 24px;
  color: #4d88ff;
  display: none;

}
button[name="bbs"]:hover {
  background-color: #80aaff;
}
.userlist{
  width: 250px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /*background: #ffcc66;*/
  background: rgb(247,215,148);
background: linear-gradient(197deg, rgba(247,215,148,1) 0%, rgba(225,95,65,1) 100%);

  text-align: center;
  border-radius: 24px;
  display: none;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight:  900;
  color: #778beb;
}
.userlist button[name="LEGO4youstaff"] {
  margin: 20px;
  border: 2px solid #e77f67;
  /*border-color: #574b90;*/
  border-radius: 24px;
  outline: none;
  font-weight: 900;
  background: transparent;

}
.userlist button[name="LEGO4youstaff"]:hover {
  background-color: #e77f67;
}
